body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.ficha-contacto {
    width: 500px;    
    border: 1px solid darkgrey;
}

.ficha-contacto header, .ficha-contacto .datos-twitter {
    display: flex;
}

.ficha-contacto .avatar {
    flex: 1;
}

.ficha-contacto .datos-principales {
    flex: 3;
}

.ficha-contacto .datos-twitter .dato-twitter {
    border-top: 1px solid darkgrey;    
    border-right: 1px solid darkgrey;    
    height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ficha-contacto .datos-twitter .dato-twitter:last-child {
    border-right: none;
}